button {

  background-color: grey; /* Color inicial del botón */

  color: white;

  padding: 10px 20px;

  border: none;

  cursor: pointer;

}

button:hover {

  background-color: rgb(0, 255, 47); /* Color del botón cuando el ratón pasa por encima */

}

.caja {

  width: 200px;

  height: 200px;

  padding: 20px;

  border: 5px solid black;

  margin: 10px;

  display: inline-block;

  vertical-align: bottom;

}

.caja1.caja  {

  background-color: lightblue;

  box-sizing: content-box; /* El tamaño total incluye solo el contenido */

}

.caja2.caja  {

  background-color: lightgreen;

  box-sizing: border-box; /* El tamaño total incluye contenido, padding y borde */

}